
:root {
    --colorColorMycolor: #721edf;    
    --colorColorColor2: #8c0f0f;    
    --colorColorColor3: #ef863b;    
    --colorColorColor4: #ae3333;    
    --colorColorColor5: #f80606;    
    --colorBasePrimary: #32aa2a;    
    --colorBaseSecondary: #e95d2a;    
    --colorColorPrimaryDefault: #0a4173;    
    --colorColorPrimaryHover: #093762;    
    --colorColorPrimaryDisabled: #c2d0dc;    
    --colorColorDisabledText: #a3a3a3;    
    --colorColorDisabledBackground: #f5f5f5;    
    --colorColorDisabledBorder: #adadad;    
    --colorColorBaseNeutralDark10: #5c5c5c;    
    --colorColorBaseNeutralDark20: #525252;    
    --colorColorBaseNeutralDark30: #474747;    
    --colorColorBaseNeutralDark40: #3d3d3d;    
    --colorColorBaseNeutralDark50: #333333;    
    --colorColorBaseNeutralDark60: #292929;    
    --colorColorBaseNeutralDark70: #1f1f1f;    
    --colorColorBaseNeutralDark80: #141414;    
    --colorColorBaseNeutralDark90: #0a0a0a;    
    --colorColorBaseNeutralDark100: #000000;    
    --colorColorBaseDarkBlue10: #cccfd1;    
    --colorColorBaseDarkBlue20: #adb2b6;    
    --colorColorBaseDarkBlue30: #8f959a;    
    --colorColorBaseDarkBlue40: #70787f;    
    --colorColorBaseDarkBlue50: #525b63;    
    --colorColorBaseDarkBlue60: #333e48;    
    --colorColorBaseDarkBlue70: #2b353d;    
    --colorColorBaseDarkBlue80: #242b32;    
    --colorColorBaseDarkBlue90: #1c2228;    
    --colorColorBaseDarkBlue100: #14191d;    
    --colorColorBaseBlue10: #c4d0f3;    
    --colorColorBaseBlue20: #a1b3eb;    
    --colorColorBaseBlue30: #7d97e4;    
    --colorColorBaseBlue40: #5a7adc;    
    --colorColorBaseBlue50: #365ed5;    
    --colorColorBaseBlue60: #1341cd;    
    --colorColorBaseBlue70: #1037ae;    
    --colorColorBaseBlue80: #0d2e90;    
    --colorColorBaseBlue90: #0a2471;    
    --colorColorBaseBlue100: #081a52;    
    --colorColorBaseRed10: #f1c4c4;    
    --colorColorBaseRed20: #e9a0a0;    
    --colorColorBaseRed30: #e07d7d;    
    --colorColorBaseRed40: #d85959;    
    --colorColorBaseRed50: #cf3636;    
    --colorColorBaseRed60: #c71212;    
    --colorColorBaseRed70: #a90f0f;    
    --colorColorBaseRed80: #8b0d0d;    
    --colorColorBaseRed90: #6d0a0a;    
    --colorColorBaseRed100: #500707;    
    --colorColorBaseGreen10: #c3e6cb;    
    --colorColorBaseGreen20: #9fd6ab;    
    --colorColorBaseGreen30: #7bc78c;    
    --colorColorBaseGreen40: #57b86d;    
    --colorColorBaseGreen50: #33a84d;    
    --colorColorBaseGreen60: #0f992e;    
    --colorColorBaseGreen70: #0d8227;    
    --colorColorBaseGreen80: #0b6b20;    
    --colorColorBaseGreen90: #085419;    
    --colorColorBaseGreen100: #063d12;    
    --colorColorBaseNavy10: #c2d0dc;    
    --colorColorBaseNavy20: #9db3c7;    
    --colorColorBaseNavy30: #7897b2;    
    --colorColorBaseNavy40: #547a9d;    
    --colorColorBaseNavy50: #2f5e88;    
    --colorColorBaseNavy60: #0a4173;    
    --colorColorBaseNavy70: #093762;    
    --colorColorBaseNavy80: #072e51;    
    --colorColorBaseNavy90: #06243f;    
    --colorColorBaseNavy100: #041a2e;    
    --colorColorBasePink10: #e0c2dd;    
    --colorColorBasePink20: #ce9dc9;    
    --colorColorBasePink30: #bb78b4;    
    --colorColorBasePink40: #a953a0;    
    --colorColorBasePink50: #962e8b;    
    --colorColorBasePink60: #840977;    
    --colorColorBasePink70: #700865;    
    --colorColorBasePink80: #5c0653;    
    --colorColorBasePink90: #490541;    
    --colorColorBasePink100: #350430;    
    --colorColorBaseNeutralLight10: #a3a3a3;    
    --colorColorBaseNeutralLight20: #adadad;    
    --colorColorBaseNeutralLight30: #b8b8b8;    
    --colorColorBaseNeutralLight40: #c2c2c2;    
    --colorColorBaseNeutralLight50: #cccccc;    
    --colorColorBaseNeutralLight60: #d6d6d6;    
    --colorColorBaseNeutralLight70: #e0e0e0;    
    --colorColorBaseNeutralLight80: #ebebeb;    
    --colorColorBaseNeutralLight90: #f5f5f5;    
    --colorColorBaseNeutralLight100: #ffffff;    
    --colorColorTestCiTrigger: #ffff00;    
    --colorColorColor6: #694545;    
}