/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --color-mycolor: #721edf;
  --color-color-2: #8c0f0f;
  --color-color-3: #ef863b;
  --color-color-4: #ae3333;
  --color-color-5: #f80606;
  --color-base-primary: #2aaa3d;
  --color-base-secondary: #dce92a;
  --color-color-primary-default: #0a4173;
  --color-color-primary-hover: #093762;
  --color-color-primary-disabled: #c2d0dc;
  --color-color-disabled-text: #a3a3a3;
  --color-color-disabled-background: #f5f5f5;
  --color-color-disabled-border: #adadad;
  --color-color-base-neutral-dark-10: #5c5c5c;
  --color-color-base-neutral-dark-20: #525252;
  --color-color-base-neutral-dark-30: #474747;
  --color-color-base-neutral-dark-40: #3d3d3d;
  --color-color-base-neutral-dark-50: #333333;
  --color-color-base-neutral-dark-60: #292929;
  --color-color-base-neutral-dark-70: #1f1f1f;
  --color-color-base-neutral-dark-80: #141414;
  --color-color-base-neutral-dark-90: #0a0a0a;
  --color-color-base-neutral-dark-100: #000000;
  --color-color-base-dark-blue-10: #cccfd1;
  --color-color-base-dark-blue-20: #adb2b6;
  --color-color-base-dark-blue-30: #8f959a;
  --color-color-base-dark-blue-40: #70787f;
  --color-color-base-dark-blue-50: #525b63;
  --color-color-base-dark-blue-60: #333e48;
  --color-color-base-dark-blue-70: #2b353d;
  --color-color-base-dark-blue-80: #242b32;
  --color-color-base-dark-blue-90: #1c2228;
  --color-color-base-dark-blue-100: #14191d;
  --color-color-base-blue-10: #c4d0f3;
  --color-color-base-blue-20: #a1b3eb;
  --color-color-base-blue-30: #7d97e4;
  --color-color-base-blue-40: #5a7adc;
  --color-color-base-blue-50: #365ed5;
  --color-color-base-blue-60: #1341cd;
  --color-color-base-blue-70: #1037ae;
  --color-color-base-blue-80: #0d2e90;
  --color-color-base-blue-90: #0a2471;
  --color-color-base-blue-100: #081a52;
  --color-color-base-red-10: #f1c4c4;
  --color-color-base-red-20: #e9a0a0;
  --color-color-base-red-30: #e07d7d;
  --color-color-base-red-40: #d85959;
  --color-color-base-red-50: #cf3636;
  --color-color-base-red-60: #c71212;
  --color-color-base-red-70: #a90f0f;
  --color-color-base-red-80: #8b0d0d;
  --color-color-base-red-90: #6d0a0a;
  --color-color-base-red-100: #500707;
  --color-color-base-green-10: #c3e6cb;
  --color-color-base-green-20: #9fd6ab;
  --color-color-base-green-30: #7bc78c;
  --color-color-base-green-40: #57b86d;
  --color-color-base-green-50: #33a84d;
  --color-color-base-green-60: #0f992e;
  --color-color-base-green-70: #0d8227;
  --color-color-base-green-80: #0b6b20;
  --color-color-base-green-90: #085419;
  --color-color-base-green-100: #063d12;
  --color-color-base-navy-10: #c2d0dc;
  --color-color-base-navy-20: #9db3c7;
  --color-color-base-navy-30: #7897b2;
  --color-color-base-navy-40: #547a9d;
  --color-color-base-navy-50: #2f5e88;
  --color-color-base-navy-60: #0a4173;
  --color-color-base-navy-70: #093762;
  --color-color-base-navy-80: #072e51;
  --color-color-base-navy-90: #06243f;
  --color-color-base-navy-100: #041a2e;
  --color-color-base-pink-10: #e0c2dd;
  --color-color-base-pink-20: #ce9dc9;
  --color-color-base-pink-30: #bb78b4;
  --color-color-base-pink-40: #a953a0;
  --color-color-base-pink-50: #962e8b;
  --color-color-base-pink-60: #840977;
  --color-color-base-pink-70: #700865;
  --color-color-base-pink-80: #5c0653;
  --color-color-base-pink-90: #490541;
  --color-color-base-pink-100: #350430;
  --color-color-base-neutral-light-10: #a3a3a3;
  --color-color-base-neutral-light-20: #adadad;
  --color-color-base-neutral-light-30: #b8b8b8;
  --color-color-base-neutral-light-40: #c2c2c2;
  --color-color-base-neutral-light-50: #cccccc;
  --color-color-base-neutral-light-60: #d6d6d6;
  --color-color-base-neutral-light-70: #e0e0e0;
  --color-color-base-neutral-light-80: #ebebeb;
  --color-color-base-neutral-light-90: #f5f5f5;
  --color-color-base-neutral-light-100: #ffffff;
  --color-color-test-ci-trigger: #ffff00;
  --color-color-6: #694545;
}