/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:host {
  --wp-color-mycolor: #721edf;
  --wp-color-color-2: #8c0f0f;
  --wp-color-color-3: #ef863b;
  --wp-color-color-4: #ae3333;
  --wp-color-color-5: #f80606;
  --wp-color-base-primary: #3076f8;
  --wp-color-base-secondary: #2ac6e9;
  --wp-color-color-primary-default: #0a4173;
  --wp-color-color-primary-hover: #093762;
  --wp-color-color-primary-disabled: #c2d0dc;
  --wp-color-color-disabled-text: #a3a3a3;
  --wp-color-color-disabled-background: #f5f5f5;
  --wp-color-color-disabled-border: #adadad;
  --wp-color-color-base-neutral-dark-10: #5c5c5c;
  --wp-color-color-base-neutral-dark-20: #525252;
  --wp-color-color-base-neutral-dark-30: #474747;
  --wp-color-color-base-neutral-dark-40: #3d3d3d;
  --wp-color-color-base-neutral-dark-50: #333333;
  --wp-color-color-base-neutral-dark-60: #292929;
  --wp-color-color-base-neutral-dark-70: #1f1f1f;
  --wp-color-color-base-neutral-dark-80: #141414;
  --wp-color-color-base-neutral-dark-90: #0a0a0a;
  --wp-color-color-base-neutral-dark-100: #000000;
  --wp-color-color-base-dark-blue-10: #cccfd1;
  --wp-color-color-base-dark-blue-20: #adb2b6;
  --wp-color-color-base-dark-blue-30: #8f959a;
  --wp-color-color-base-dark-blue-40: #70787f;
  --wp-color-color-base-dark-blue-50: #525b63;
  --wp-color-color-base-dark-blue-60: #333e48;
  --wp-color-color-base-dark-blue-70: #2b353d;
  --wp-color-color-base-dark-blue-80: #242b32;
  --wp-color-color-base-dark-blue-90: #1c2228;
  --wp-color-color-base-dark-blue-100: #14191d;
  --wp-color-color-base-blue-10: #c4d0f3;
  --wp-color-color-base-blue-20: #a1b3eb;
  --wp-color-color-base-blue-30: #7d97e4;
  --wp-color-color-base-blue-40: #5a7adc;
  --wp-color-color-base-blue-50: #365ed5;
  --wp-color-color-base-blue-60: #1341cd;
  --wp-color-color-base-blue-70: #1037ae;
  --wp-color-color-base-blue-80: #0d2e90;
  --wp-color-color-base-blue-90: #0a2471;
  --wp-color-color-base-blue-100: #081a52;
  --wp-color-color-base-red-10: #f1c4c4;
  --wp-color-color-base-red-20: #e9a0a0;
  --wp-color-color-base-red-30: #e07d7d;
  --wp-color-color-base-red-40: #d85959;
  --wp-color-color-base-red-50: #cf3636;
  --wp-color-color-base-red-60: #c71212;
  --wp-color-color-base-red-70: #a90f0f;
  --wp-color-color-base-red-80: #8b0d0d;
  --wp-color-color-base-red-90: #6d0a0a;
  --wp-color-color-base-red-100: #500707;
  --wp-color-color-base-green-10: #c3e6cb;
  --wp-color-color-base-green-20: #9fd6ab;
  --wp-color-color-base-green-30: #7bc78c;
  --wp-color-color-base-green-40: #57b86d;
  --wp-color-color-base-green-50: #33a84d;
  --wp-color-color-base-green-60: #0f992e;
  --wp-color-color-base-green-70: #0d8227;
  --wp-color-color-base-green-80: #0b6b20;
  --wp-color-color-base-green-90: #085419;
  --wp-color-color-base-green-100: #063d12;
  --wp-color-color-base-navy-10: #c2d0dc;
  --wp-color-color-base-navy-20: #9db3c7;
  --wp-color-color-base-navy-30: #7897b2;
  --wp-color-color-base-navy-40: #547a9d;
  --wp-color-color-base-navy-50: #2f5e88;
  --wp-color-color-base-navy-60: #0a4173;
  --wp-color-color-base-navy-70: #093762;
  --wp-color-color-base-navy-80: #072e51;
  --wp-color-color-base-navy-90: #06243f;
  --wp-color-color-base-navy-100: #041a2e;
  --wp-color-color-base-pink-10: #e0c2dd;
  --wp-color-color-base-pink-20: #ce9dc9;
  --wp-color-color-base-pink-30: #bb78b4;
  --wp-color-color-base-pink-40: #a953a0;
  --wp-color-color-base-pink-50: #962e8b;
  --wp-color-color-base-pink-60: #840977;
  --wp-color-color-base-pink-70: #700865;
  --wp-color-color-base-pink-80: #5c0653;
  --wp-color-color-base-pink-90: #490541;
  --wp-color-color-base-pink-100: #350430;
  --wp-color-color-base-neutral-light-10: #a3a3a3;
  --wp-color-color-base-neutral-light-20: #adadad;
  --wp-color-color-base-neutral-light-30: #b8b8b8;
  --wp-color-color-base-neutral-light-40: #c2c2c2;
  --wp-color-color-base-neutral-light-50: #cccccc;
  --wp-color-color-base-neutral-light-60: #d6d6d6;
  --wp-color-color-base-neutral-light-70: #e0e0e0;
  --wp-color-color-base-neutral-light-80: #ebebeb;
  --wp-color-color-base-neutral-light-90: #f5f5f5;
  --wp-color-color-base-neutral-light-100: #ffffff;
  --wp-color-color-test-ci-trigger: #ffff00;
  --wp-color-color-6: #694545;
  --wp-color-core-colors-gray-0: #ffffff;
  --wp-color-core-colors-gray-25: #f9f9fa;
  --wp-color-core-colors-gray-50: #f1f2f4;
  --wp-color-core-colors-gray-100: #e2e4e9;
  --wp-color-core-colors-gray-200: #cccfd7;
  --wp-color-core-colors-gray-300: #b0b3bf;
  --wp-color-core-colors-gray-400: #9296aa;
  --wp-color-core-colors-gray-500: #70758f;
  --wp-color-core-colors-gray-600: #5a5e72;
  --wp-color-core-colors-gray-700: #444755;
  --wp-color-core-colors-gray-800: #2e3038;
  --wp-color-core-colors-gray-900: #17171c;
  --wp-color-core-colors-blue-50: #f5f5fd;
  --wp-color-core-colors-blue-100: #eaeafa;
  --wp-color-core-colors-blue-200: #c3c3f0;
  --wp-color-core-colors-blue-300: #9b9be7;
  --wp-color-core-colors-blue-400: #7373dd;
  --wp-color-core-colors-blue-500: #4b4bd3;
  --wp-color-core-colors-blue-600: #2e2ebf;
  --wp-color-core-colors-blue-700: #252597;
  --wp-color-core-colors-blue-800: #1b1b6f;
  --wp-color-core-colors-blue-900: #0f0f3e;
  --wp-color-core-colors-jade-50: #e9fcf4;
  --wp-color-core-colors-jade-100: #d3f8ea;
  --wp-color-core-colors-jade-200: #a2f1d3;
  --wp-color-core-colors-jade-300: #76eabd;
  --wp-color-core-colors-jade-400: #1fcb89;
  --wp-color-core-colors-jade-500: #199f6b;
  --wp-color-core-colors-jade-600: #15845a;
  --wp-color-core-colors-jade-700: #116a48;
  --wp-color-core-colors-jade-800: #0d5439;
  --wp-color-core-colors-jade-900: #083524;
  --wp-color-core-colors-red-50: #fef1f0;
  --wp-color-core-colors-red-100: #fededd;
  --wp-color-core-colors-red-200: #fdc2bf;
  --wp-color-core-colors-red-300: #fba19d;
  --wp-color-core-colors-red-400: #fa807a;
  --wp-color-core-colors-red-500: #f72c22;
  --wp-color-core-colors-red-600: #dd1308;
  --wp-color-core-colors-red-700: #c51107;
  --wp-color-core-colors-red-800: #940c05;
  --wp-color-core-colors-red-900: #4a0603;
  --wp-color-core-colors-white: #ffffff;
  --wp-color-core-colors-black: #000000;
  --wp-color-core-colors-worldpay: #ff1f3e;
  --wp-color-data-indigo-50: #efeffb;
  --wp-color-data-purple-50: #f9eefc;
  --wp-color-data-violet-50: #f3edfc;
  --wp-color-data-violet-100: #ebe0fa;
  --wp-color-data-violet-200: #d6c1f5;
  --wp-color-data-violet-300: #c2a3f0;
  --wp-color-data-violet-400: #aa7feb;
  --wp-color-data-violet-500: #9661e6;
  --wp-color-data-violet-600: #8142e1;
  --wp-color-data-violet-700: #6d23dc;
  --wp-color-data-violet-800: #481791;
  --wp-color-data-violet-purple-900: #250c4b;
  --wp-color-data-purple-100: #f3ddf9;
  --wp-color-data-purple-200: #e7baf2;
  --wp-color-data-purple-300: #db98ec;
  --wp-color-data-purple-400: #ce71e5;
  --wp-color-data-purple-500: #c24fde;
  --wp-color-data-purple-600: #b62cd8;
  --wp-color-data-purple-700: #891ea4;
  --wp-color-data-purple-800: #5e1570;
  --wp-color-data-purple-900: #2f0a38;
  --wp-color-data-indigo-100: #dedef7;
  --wp-color-data-indigo-200: #bdbdef;
  --wp-color-data-indigo-300: #9d9de7;
  --wp-color-data-indigo-400: #7c7cdf;
  --wp-color-data-indigo-500: #5b5bd7;
  --wp-color-data-indigo-600: #3636ce;
  --wp-color-data-indigo-700: #2b2bb0;
  --wp-color-data-indigo-800: #232390;
  --wp-color-data-indigo-900: #1b1b6f;
  --wp-color-alpha-overlay-960: #17171c99;
  --wp-color-alpha-overlay-930: #17171c4d;
  --wp-color-alpha-overlay-920: #17171c33;
  --wp-color-alpha-overlay-915: #17171c26;
  --wp-color-alpha-overlay-910: #17171c1a;
  --wp-color-alpha-overlay-905: #17171c0d;
  --wp-color-alpha-overlay-904: #17171c0a;
  --wp-color-alpha-overlay-903: #17171c08;
  --wp-color-alpha-overlay-902: #17171c05;
  --wp-color-alpha-overlay-901: #17171c03;
  --wp-color-alpha-overlay-15: #ffffff26;
  --wp-color-alpha-overlay-10: #ffffff1a;
  --wp-color-alpha-overlay-5: #ffffff0d;
  --wp-color-core-colors-sunset-50: #fffaeb;
  --wp-color-core-colors-sunset-100: #fff4d6;
  --wp-color-core-colors-sunset-200: #ffe099;
  --wp-color-core-colors-sunset-300: #ffc966;
  --wp-color-core-colors-sunset-400: #fea520;
  --wp-color-core-colors-sunset-500: #de7402;
  --wp-color-core-colors-sunset-600: #b05902;
  --wp-color-core-colors-sunset-700: #7e3501;
  --wp-color-core-colors-sunset-800: #5b1d01;
  --wp-color-core-colors-sunset-900: #3c1302;
  --wp-color-core-colors-blue-gray-0: #ffffff;
  --wp-color-interim-amethyst-50: #faf9fd;
  --wp-color-interim-amethyst-100: #efecf9;
  --wp-color-interim-amethyst-200: #d9d0f2;
  --wp-color-interim-amethyst-300: #c3b5ea;
  --wp-color-interim-amethyst-400: #ad9ae2;
  --wp-color-interim-amethyst-500: #9380ca;
  --wp-color-interim-amethyst-600: #7768a4;
  --wp-color-interim-amethyst-700: #65578b;
  --wp-color-interim-amethyst-800: #51466f;
  --wp-color-interim-amethyst-900: #3b3452;
  --wp-color-core-colors-blue-gray-25: #f9f9fa;
  --wp-color-core-colors-blue-gray-50: #f1f2f4;
  --wp-color-core-colors-blue-gray-100: #e2e4e9;
  --wp-color-core-colors-blue-gray-200: #cccfd7;
  --wp-color-core-colors-blue-gray-300: #b0b3bf;
  --wp-color-core-colors-blue-gray-400: #9296aa;
  --wp-color-core-colors-blue-gray-500: #70758f;
  --wp-color-core-colors-blue-gray-600: #5a5e72;
  --wp-color-core-colors-blue-gray-700: #444755;
  --wp-color-core-colors-blue-gray-800: #2e3038;
  --wp-color-core-colors-blue-gray-900: #17171c;
  --wp-color-content-primary: var(--wp-color-core-colors-gray-900);
  --wp-color-content-secondary: var(--wp-color-core-colors-gray-600);
  --wp-color-content-tertiary: var(--wp-color-core-colors-gray-400);
  --wp-color-content-content-primary-inverse: var(--wp-color-core-colors-gray-0);
  --wp-color-border-border-primary: var(--wp-color-core-colors-gray-900);
  --wp-color-border-border-secondary: var(--wp-color-core-colors-gray-400);
  --wp-color-border-border-tertiary: var(--wp-color-core-colors-gray-200);
  --wp-color-border-border-quarternary: var(--wp-color-core-colors-gray-100);
  --wp-color-border-border-primary-inverse: var(--wp-color-core-colors-gray-0);
  --wp-color-background-primary: var(--wp-color-core-colors-blue-gray-0);
  --wp-color-background-secondary: var(--wp-color-core-colors-blue-gray-25);
  --wp-color-background-tertiary: var(--wp-color-core-colors-blue-gray-50);
  --wp-color-background-quatenary: var(--wp-color-core-colors-blue-gray-100);
  --wp-color-background-quinary: var(--wp-color-core-colors-blue-gray-200);
  --wp-color-background-primary-inverse: var(--wp-color-core-colors-blue-gray-800);
  --wp-color-signal-success: var(--wp-color-core-colors-jade-700);
  --wp-color-signal-warning: var(--wp-color-core-colors-sunset-600);
  --wp-color-signal-error: var(--wp-color-core-colors-red-600);
  --wp-color-signal-success-subtle: var(--wp-color-core-colors-jade-50);
  --wp-color-signal-warning-subtle: var(--wp-color-core-colors-sunset-50);
  --wp-color-signal-error-subtle: var(--wp-color-core-colors-red-50);
  --wp-color-signal-success-focus: var(--wp-color-core-colors-jade-200);
  --wp-color-signal-warning-focus: var(--wp-color-core-colors-sunset-200);
  --wp-color-signal-error-focus: var(--wp-color-core-colors-red-200);
  --wp-color-brand-primary: var(--wp-color-core-colors-blue-800);
  --wp-color-brand-primary-focus: var(--wp-color-core-colors-blue-200);
  --wp-color-brand-primary-highlight: var(--wp-color-core-colors-blue-100);
  --wp-color-overlay-scrim: var(--wp-color-alpha-overlay-960);
  --wp-color-overlay-dark: var(--wp-color-alpha-overlay-915);
  --wp-color-overlay-darker: var(--wp-color-alpha-overlay-920);
  --wp-color-overlay-darkest: var(--wp-color-alpha-overlay-930);
  --wp-color-overlay-light: var(--wp-color-alpha-overlay-5);
  --wp-color-overlay-lighter: var(--wp-color-alpha-overlay-10);
  --wp-color-overlay-lightest: var(--wp-color-alpha-overlay-15);
  --wp-color-brand-primary-subtle: var(--wp-color-core-colors-blue-50);
  --wp-color-absolute-brand: var(--wp-color-core-colors-worldpay);
  --wp-color-absolute-white: var(--wp-color-core-colors-white);
  --wp-color-absolute-black: var(--wp-color-core-colors-black);
}