/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:host {
  --wp-dimension-radius-full: 9999px;
  --wp-dimension-font-weight-medium-weight: 500px;
  --wp-dimension-font-weight-regular-weight: 400px;
  --wp-dimension-font-weight-semibold-weight: 600px;
  --wp-dimension-font-weight-bold-weight: 700px;
  --wp-dimension-baseline-0-0px: 0px;
  --wp-dimension-baseline-0-5-2px: 2px;
  --wp-dimension-baseline-1-4px: 4px;
  --wp-dimension-baseline-1-5-6px: 6px;
  --wp-dimension-baseline-2-8px: 8px;
  --wp-dimension-baseline-3-12px: 12px;
  --wp-dimension-baseline-4-16px: 16px;
  --wp-dimension-baseline-5-20px: 20px;
  --wp-dimension-baseline-6-24px: 24px;
  --wp-dimension-baseline-8-32px: 32px;
  --wp-dimension-baseline-10-40px: 40px;
  --wp-dimension-baseline-12-48px: 48px;
  --wp-dimension-baseline-14-56px: 56px;
  --wp-dimension-baseline-16-64px: 64px;
  --wp-dimension-baseline-20-80px: 80px;
  --wp-dimension-baseline-24-96px: 96px;
  --wp-dimension-baseline-32-128px: 128px;
  --wp-dimension-baseline-40-160px: 160px;
  --wp-dimension-baseline-48-192px: 192px;
  --wp-dimension-baseline-56-224px: 224px;
  --wp-dimension-baseline-64-256px: 256px;
  --wp-dimension-baseline-80-320px: 320px;
  --wp-dimension-baseline-96-384px: 384px;
  --wp-dimension-baseline-120-480px: 480px;
  --wp-dimension-baseline-140-560px: 560px;
  --wp-dimension-baseline-160-640px: 640px;
  --wp-dimension-baseline-180-720px: 720px;
  --wp-dimension-baseline-192-768px: 768px;
  --wp-dimension-baseline-256-1-024px: 1024px;
  --wp-dimension-baseline-320-1-280px: 1280px;
  --wp-dimension-baseline-360-1-440px: 1440px;
  --wp-dimension-baseline-400-1-600px: 1600px;
  --wp-dimension-baseline-480-1-920px: 1920px;
  --wp-dimension-font-size-1100: 72px;
  --wp-dimension-font-size-1000: 60px;
  --wp-dimension-font-size-900: 48px;
  --wp-dimension-font-size-800: 40px;
  --wp-dimension-font-size-700: 32px;
  --wp-dimension-font-size-600: 24px;
  --wp-dimension-font-size-500: 20px;
  --wp-dimension-font-size-400: 18px;
  --wp-dimension-font-size-300: 15px;
  --wp-dimension-font-size-200: 14px;
  --wp-dimension-font-size-100: 12px;
  --wp-dimension-radius-none: var(--wp-dimension-baseline-0-0px);
  --wp-dimension-radius-xxs: var(--wp-dimension-baseline-0-5-2px);
  --wp-dimension-radius-xs: var(--wp-dimension-baseline-1-4px);
  --wp-dimension-radius-sm: var(--wp-dimension-baseline-1-5-6px);
  --wp-dimension-radius-md: var(--wp-dimension-baseline-2-8px);
  --wp-dimension-radius-lg: var(--wp-dimension-baseline-3-12px);
  --wp-dimension-radius-xl: var(--wp-dimension-baseline-4-16px);
  --wp-dimension-radius-2xl: var(--wp-dimension-baseline-5-20px);
  --wp-dimension-radius-3xl: var(--wp-dimension-baseline-6-24px);
  --wp-dimension-type-style-display-lg: var(--wp-dimension-font-size-1100);
  --wp-dimension-type-style-display-md: var(--wp-dimension-font-size-1000);
  --wp-dimension-type-style-display-sm: var(--wp-dimension-font-size-900);
  --wp-dimension-type-style-heading-lg: var(--wp-dimension-font-size-800);
  --wp-dimension-type-style-heading-md: var(--wp-dimension-font-size-700);
  --wp-dimension-type-style-title-lg: var(--wp-dimension-font-size-600);
  --wp-dimension-type-style-title-md: var(--wp-dimension-font-size-500);
  --wp-dimension-type-style-title-sm: var(--wp-dimension-font-size-300);
  --wp-dimension-type-style-title-xs: var(--wp-dimension-font-size-200);
  --wp-dimension-type-style-body-lg: var(--wp-dimension-font-size-400);
  --wp-dimension-type-style-body: var(--wp-dimension-font-size-300);
  --wp-dimension-type-style-body-sm: var(--wp-dimension-font-size-200);
  --wp-dimension-type-style-body-xs: var(--wp-dimension-font-size-100);
  --wp-dimension-component-height-height-xxs: var(--wp-dimension-baseline-6-24px);
  --wp-dimension-component-height-height-xs: var(--wp-dimension-baseline-8-32px);
  --wp-dimension-component-height-height-sm: var(--wp-dimension-baseline-10-40px);
  --wp-dimension-component-height-height-md: var(--wp-dimension-baseline-12-48px);
  --wp-dimension-component-height-height-lg: var(--wp-dimension-baseline-14-56px);
  --wp-dimension-spacer-spacer-1: var(--wp-dimension-baseline-1-4px);
  --wp-dimension-spacer-spacer-2: var(--wp-dimension-baseline-2-8px);
  --wp-dimension-spacer-spacer-3: var(--wp-dimension-baseline-3-12px);
  --wp-dimension-spacer-spacer-4: var(--wp-dimension-baseline-4-16px);
  --wp-dimension-spacer-spacer-5: var(--wp-dimension-baseline-5-20px);
  --wp-dimension-spacer-spacer-6: var(--wp-dimension-baseline-6-24px);
  --wp-dimension-spacer-spacer-8: var(--wp-dimension-baseline-8-32px);
  --wp-dimension-spacer-spacer-10: var(--wp-dimension-baseline-10-40px);
  --wp-dimension-spacer-spacer-12: var(--wp-dimension-baseline-12-48px);
  --wp-dimension-spacer-spacer-14: var(--wp-dimension-baseline-14-56px);
  --wp-dimension-breakpoint-breakpoint-xs: var(--wp-dimension-baseline-80-320px);
  --wp-dimension-width-paragraph-max-width: var(--wp-dimension-baseline-180-720px);
  --wp-dimension-breakpoint-breakpoint-sm: var(--wp-dimension-baseline-120-480px);
  --wp-dimension-breakpoint-breakpoint-md: var(--wp-dimension-baseline-192-768px);
  --wp-dimension-breakpoint-breakpoint-lg: var(--wp-dimension-baseline-256-1-024px);
  --wp-dimension-breakpoint-breakpoint-xl: var(--wp-dimension-baseline-320-1-280px);
}